ClassicalConsoleApp/Connected Services/ServiceReference1/AuthorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51541/AuthorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MyFirstWcfService" />
  <xs:element name="AuthorRequest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorId" nillable="true" type="xs:string" />
  <xs:element name="AuthorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MyFirstWcfService" minOccurs="0" name="Author" nillable="true" type="q1:Author" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>