ClassicalConsoleApp/Connected Services/ServiceReference1/AuthorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MyFirstWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MyFirstWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Author">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artical" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Author" nillable="true" type="tns:Author" />
  <xs:complexType name="CustomException">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExceptionMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomException" nillable="true" type="tns:CustomException" />
</xs:schema>